/****************************************************************************
 * DIPLOM.RC
 *
 * Ressourcen-Datei fuer das Projekt DIPLOM
 *
 * (c) Wolfgang Lauffher
 *
 * September 1994
 ***************************************************************************/

#include <windows.h>
#include "menu.h"

Diplom BITMAP "titel.bmp"

dDIPLOM ICON "trydipl.ico"
//fDIPLOM ICON "d3.ico"
DIPLOM ICON "diplom.ico"

Diplom MENU
{
 POPUP "&Datei"
 {
  MENUITEM "\326&ffnen..\t F3", IDM_OPEN
  MENUITEM SEPARATOR
  MENUITEM "&Drucken", IDM_PRINT, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Clipboard", IDM_CLIP
  MENUITEM SEPARATOR
  MENUITEM "&Beenden", IDM_END
 }
 POPUP "&Ansicht"
 {
  MENUITEM "Clu&sterausgabe..", IDM_AUSCLUSTER, GRAYED
  MENUITEM "Wer&teausgabe.."  , IDM_AUSWERTE, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "mit &K.-Kreuz",   IDM_KKREUZ
  MENUITEM "Bild &löschen", IDM_LOESCHEN, GRAYED
 }
 POPUP "&Rechnen"
 {
   MENUITEM "&Berechnen", IDM_COMPUTE, GRAYED
   MENUITEM "&Enumeration", IDM_ENUMERATE, GRAYED
 }
 MENUITEM "&Werte..", IDM_WERTE, INACTIVE
 MENUITEM "&Optionen..", IDM_OPTIONEN
 POPUP "&Hilfe"
 {
  MENUITEM "&Index", IDM_INHALT
  MENUITEM "&Tastatur", IDM_TASTEN
  MENUITEm "&Hilfe über Hilfe", IDM_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About", IDM_ABOUT
 }

}

DIPLOM ACCELERATORS
{
	VK_F4, IDM_COMPUTE, VIRTKEY
	VK_F3, IDM_OPEN, VIRTKEY
}

ABOUT DIALOG 20, 20, 160, 90
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_BORDER
CAPTION "über CLUSTERING..."
{
 ICON "Diplom", -1, 10, 12, 16, 16
 CTEXT "Clustering", -1, 45, 12, 69, 8
 CTEXT "Release 1.0", -1, 0, 36,160, 8
 CTEXT "(c) Wolfgang Lauffher, 1994", -1, 0, 48,160, 8
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 64, 37, 25
}

OPTIONEN DIALOG 13, 22, 217, 131
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CLUSTERING: Optionen"
{
 CONTROL "#Cluster", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 183, 0, 34, 66
 CONTROL "Cluster", IDD_CLUSTER, "LISTBOX", WS_BORDER | WS_VSCROLL | LBS_NOREDRAW | WS_TABSTOP, 185, 13, 28, 48

 //
 CONTROL "Nachbarschaft", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 93, 0, 90, 66
 CONTROL "Nearest", IDD_NACHBARnaechster, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 25, 41, 10
 CONTROL "#Nachbarn", IDD_TEXTNACHBAR, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 141, 12, 38, 37
 CONTROL "", IDD_NACHBARanz, "LISTBOX", LBS_STANDARD | LBS_DISABLENOSCROLL, 143, 23, 34, 24
 CONTROL "Centroid", IDD_NACHBARcentroid, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 38, 40, 10
 CONTROL "Random", IDD_NACHBARrandom, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 12, 39, 10
 CONTROL "Simultaneous", IDD_SIMULTANEOUS, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 54, 81, 11
 CONTROL "", -1, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 96, 52, 85, 5

 //
 CONTROL "       Suchverfahren", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 219, 94
 CONTROL "Local Search", IDD_LOCAL, "BorRadio",                 BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 11, 78, 12
 CONTROL "Iterative Improvement", IDD_ITERATIVE, "BorRadio",    BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 22, 86, 14
 CONTROL "Simulated Annealing", IDD_SIMAN, "BorRadio",          BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 33, 84, 12
 CONTROL "Simulated A. / Localopt", IDD_SIMANLOCAL, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 44, 87, 12
 CONTROL "Threshold Acceptance", IDD_THRESHOLD, "BorRadio",     BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 55, 83, 12
 CONTROL "Combined Algorithms", IDD_COMBINED, "Borradio",       BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 66, 80, 12
 CONTROL "Tabu Search:", IDD_TABU, "BorRadio",                  BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 77, 56, 13
 CONTROL "Listenlänge:", IDD_TEXTLISTE, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 65, 79, 41, 11
 LISTBOX IDD_TABUliste, 109, 74, 28, 20, LBS_STANDARD
 CONTROL "Aspiration Faktor:", IDD_TEXTFAKTOR, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 147, 73, 34, 20
 EDITTEXT IDD_TABUfaktor, 184, 75, 30, 12

 //
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 94, 102, 40
 PUSHBUTTON "Wichtung der Zielfunktionen", IDD_WICHTUNG, 2, 103, 97, 19
 CONTROL "", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 102, 38, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 142, 102, 37, 25
// CONTROL "", IDHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 102, 33, 21
 CONTROL "Hilfe", IDD_OPTIONENHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 102, 33, 21
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 101, 94, 116, 40
}


WICHTUNG DIALOG 15, 23, 204, 126
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CLUSTERING: Zielfunktionen"
{
 LISTBOX IDD_WSS, 3, 12, 28, 85, LBS_STANDARD
 LISTBOX IDD_WSS2, 37, 12, 28, 85, LBS_STANDARD
 LISTBOX IDD_WSNS, 71, 12, 28, 85, LBS_STANDARD
 LISTBOX IDD_WmaxS, 105, 12, 28, 85, LBS_STANDARD
 LISTBOX IDD_WSmax, 139, 12, 28, 85, LBS_STANDARD
 LISTBOX IDD_Wmaxmax, 173, 12, 28, 85, LBS_STANDARD
 CONTROL "S S", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 0, 0, 34, 96
 CONTROL "S S^2", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 34, 0, 34, 96
 CONTROL "S 1/n*S", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 68, 0, 34, 96
 CONTROL "max S", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 102, 0, 34, 96
 CONTROL "S max", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 136, 0, 34, 96
 CONTROL "max max", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 170, 0, 34, 96
 CONTROL "", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 100, 37, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 100, 37, 25
 CONTROL "Hilfe", IDD_WICHTUNGHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 100, 33, 21
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 0, 96, 206, 31
}

WERTE DIALOG 16, 32, 295, 139
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CLUSTERING: Werte-Auswahl"
{
 CONTROL "", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 222, 5, 37, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 259, 5, 37, 25
 CONTROL "Hilfe", IDD_WERTEHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 242, 35, 33, 21
 CONTROL "Werte für Anzeige", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 0, 0, 217, 64
 CONTROL "x-Achse :", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 12, 70, 10
 CONTROL "y-Achse :", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 12, 70, 10
 CONTROL "z-Achse :", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 144, 12, 70, 10
 COMBOBOX IDD_LISTEGR1, 4, 22, 66, 51, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
 COMBOBOX IDD_LISTEGR2, 74, 22, 66, 51, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
 COMBOBOX IDD_LISTEGR3, 144, 22, 66, 51, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
 CONTROL "Werte für Berechnung", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_CENTER | WS_CHILD | WS_VISIBLE, 0, 64, 295, 76
 CONTROL "1.Wert :", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 78, 64, 10
 CONTROL "2.Wert :", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 78, 64, 10
 CONTROL "3.Wert :", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 144, 78, 64, 10
 CONTROL "weitere Werte :", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 214, 78, 64, 10
 COMBOBOX IDD_LISTECO1, 4, 88, 66, 51, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
 COMBOBOX IDD_LISTECO2, 74, 88, 66, 51, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
 COMBOBOX IDD_LISTECO3, 144, 88, 66, 51, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
 LISTBOX IDD_LISTECO, 219, 88, 52, 48, WS_BORDER | WS_VSCROLL | WS_TABSTOP | LBS_MULTIPLESEL
 CONTROL "Werte von oben übernehmen", IDD_WERTETAKE, "BorCheck", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 125, 128, 11
 CONTROL "Clusterung vorgeben", IDD_SPECIAL, "BorCheck", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 110, 120, 11
 PUSHBUTTON "Unterbereiche", IDD_SUBBEREICHE, 147, 117, 60, 15
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 217, 0, 78, 64
}


AUSGABE DIALOG 13, 47, 320, 176
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU


CAPTION "CLUSTERING: Ausgabe"
{
 CONTROL "", IDOK, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 270, 37, 37, 25
 PUSHBUTTON "umschalten", IDD_SWAP, 265, 93, 45, 25, BS_PUSHBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD
 CONTROL "Hilfe", IDD_HILFE, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 270, 65, 33, 21
 LISTBOX IDD_BROWSE, 4, 4, 250, 170, LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 321, 177
}



SUBBEREICHE DIALOG 75, 129, 220, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CLUSTERING: Unterbereiche"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDOK, "BorBtn", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 12, 37, 25
 CONTROL "", IDCANCEL, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 46, 37, 25
 CONTROL "Hilfe", IDD_SUBHELP, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 80, 37, 25
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, -1, 0, 224, 124
 LISTBOX IDD_MERKMAL, 5, 18, 62, 88, WS_BORDER | WS_VSCROLL | WS_TABSTOP
 CONTROL "Merkmal", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 5, 62, 12
 LISTBOX IDD_SUBMERKMAL, 99, 18, 62, 88, WS_BORDER | WS_VSCROLL | WS_TABSTOP | LBS_MULTIPLESEL
 CONTROL "Möglichkeiten", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 5, 62, 12
 CONTROL "Rechts markiert schließt diese Klasse aus", -1, "BorStatic", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 111, 166, 10
 CONTROL "", IDD_PFEIL, "BorBtn", BBS_BITMAP | WS_CHILD | WS_VISIBLE, 75, 53, 14, 15
}

IDD_BITMAPPFEIL BITMAP
{
'42 4D 66 00 00 00 00 00 00 00 3E 00 00 00 28 00'
'00 00 14 00 00 00 0A 00 00 00 01 00 01 00 00 00'
'00 00 28 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 02 00 00 00 00 00 00 00 FF FF FF 00 FF FF'
'F0 00 FF FC F0 00 FF FE 70 00 FF FF 30 00 80 00'
'10 00 80 00 10 00 FF FF 30 00 FF FE 70 00 FF FC'
'F0 00 FF FF F0 00'

}

